:root {
  --purple: #847AD1;
  --large: 10px;
}

a {
  color: var(--purple);
  transition: color .2s;
}

a:hover {
  color: color(var(--purple) tint(20%));
}

pre {
  padding: var(--large);
  margin: calc(var(--large) * 2);
}
